.category-list-block,
.products-list-block {
  text-align: center;
  padding-bottom: 63px;
  border-bottom: solid 1px #00bdf2;
  margin-bottom: 51px;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.woocommerce-loop-product__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin: 13px 0 6px;
  color: #463c3b;
}

/*===== Style for products-list  =====*/
.products-list {
  @include flexAlign(stretch, flex-start);
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: 0 -20px;
  @include breakpoint(screen-sm) {
    margin: 0 -15px;
  }

  /*===== message if not find any products =====*/
  & > p {
    padding: 0 20px;
    @include breakpoint(screen-sm) {
      padding: 0 15px;
    }
  }

  /*===== Title in section on home-page =====*/
  &-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.43;
    color: #000000;
    text-align: center;
    margin: 26px 0;
    @include breakpoint(screen-sm) {
      font-size: 30px;
    }
    a {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        height: 3px;
        background: rgba(244,135,131,.8);
        width: 0;
        transform: translateX(-50%);
        transition: width 0.1s;
      }
      &:hover {
        &:before {
          width: calc(100% + 10px);
        }
      }
    }
  }

  p.product-category {
    margin-bottom: 14px;
    color: #000000;
    font-size: 14px;
    line-height: 1.16;
  }

  /*==== items in 4-columns =====*/
  &-item {
    @include flexAlign();
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: calc(25% - 40px);
    margin: 0 20px 30px;
    text-align: left;
/*    @include breakpoint(screen-m) {
      width: calc((100% / 4) - 40px);
    }*/
    @include breakpoint(screen-sm) {
      width: calc((100% / 3) - 30px);
      margin: 0 15px 30px;
    }
    @media (max-width: 600px) {
      width: calc(50% - 10px);
      margin: 0 5px 30px;
    }
    @include breakpoint(mobile-xxs) {
      width: 100%;
    }

    > a:not(.add_to_cart_button ) {
      display: block;
      width: 100%;

      .button-label {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.1;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.2;
          margin-right: 11px;
        }
      }
    }

    .woocommerce-loop-product__thumbnail {
      @extend .product-img;
      padding-bottom: 110%;
      img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%) scale(1);
        transition: 0.5s;

        &:hover {
          transform: translate(0, -50%) scale(1.1);
        }
      }
    }

    &.sale {
      .add_to_cart_button {
        padding: 8px 12px;
      }

      .button-price ins {
        font-weight: bold;
      }
    }

    .price {
      @include flexAlign(center, flex-start);
      width: 100%;
      margin-bottom: 10px;
      line-height: 1;
      font-size: 24px;
      color: #463c3b;

      ins {
        text-decoration: none;
      }

      del {
        order: 2;
        margin-left: 15px;
        color: #727375;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  /*==== items in 3-columns =====*/
  &.columns-3 {
    .products-list-item {
    //  width: calc((100% / 3) - 40px);


      @media (max-width: 991px) {

      }

/*      @include breakpoint(screen-m) {
        width: calc(50% - 40px);
      }
      @include breakpoint(screen-sm) {
        width: calc(50% - 30px);
        margin: 0 15px 30px;
      }*/
      @include breakpoint(mobile-xxs) {
        width: 100%;
      }
    }
  }
}

/*===== Style for products-block on home-page =====*/
.category-list-block .products-list {
  align-items: flex-start;
  width: 100%;
  margin: 0;

  .product-category {
    overflow: hidden;
    width: 20%;
    margin: 0;
    @include breakpoint(screen-sm) {
      width: 50%;
    }
    @include breakpoint(mobile-xxs) {
      width: 100%;
    }

    a {
      background: #f7f7f7;
      padding-bottom: 100%;
      @extend .product-img;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        max-width: 100%;
      }
      .woocommerce-loop-category__title {
        margin: 0;
      }
      &:hover {
        .woocommerce-loop-category__title {
          opacity: 1;
        }
      }
    }
    .woocommerce-loop-category__title {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      @include flexAlign(center, center);
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      color: #1C1B1B;
      font-size: 32px;
      text-transform: uppercase;
      transition: opacity 0.4s;
      @extend .woocommerce-loop-product__title;
      @include breakpoint(screen-md) {
        font-size: 27px;
      }
      @include breakpoint(screen-m) {
        font-size: 22px;
      }

      &:before {
        content: '';
        position: absolute;
        top: -6px;
        left: -6px;
        z-index: -1;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        background: rgba(229, 231, 235, 0.8);
        filter: blur(6px);
      }
    }
  }
}

/*===== Changes style for single page of products =====*/
.single-widget-products .products-list {
  &-item {
    .add_to_cart_button {
      justify-content: center;
    }
  }
}

.onsale {
  position: absolute;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: 0 0;
  width: 100%;
  top: 40px;
  left: 40px;
  z-index: 1;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  min-width: 112px;
  padding: 6px 32px;
  border-radius: 0;
  font-weight: normal;
  background: rgba(244, 135, 131, 0.8);
  span {
    font-size: 16px;
    font-weight: bold;
  }
}

.button {
  &-get-more-product {
    position: relative;
    min-width: auto;
    display: inline-block;
    height: 53px;
    padding: 10px 39px;
    margin: 15px auto 0;
    border: 2px solid #f48783;
    background: #fff;
    color: #f48783;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    letter-spacing: 0.8px;
    transition: all 0.3s;
    &:hover {
      border-color: #f48783;
      background: #f48783;
      color: #fff;
    }
    &.button-disabled {
      @include breakpoint(screen-xs) {
        font-size: 16px;
        padding: 15px 19px;
      }
    }

    &.button-loading {
      &:hover {
        background-color: #fff;
      }
    }
  }

  &-loading {
    color: #fff;
    &:hover {
      color: #fff;
    }

    &:before {
      content: '';
      background-color: #f48783;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      animation-name: bounce_escapingBallG;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: 0s;
      transform: scale(0) translate(-50%, -50%);
      transform-origin: 0 0;
    }
  }
}

@keyframes bounce_escapingBallG {
  0% {
    transform: scale(0) translate(-50%, -50%);
    opacity: 0
  }

  20% {
    transform: scale(.2) translate(-50%, -50%);
    opacity: 0.5;
  }

  55% {
    transform: scale(.7) translate(-50%, -50%);
    opacity: 0.7;
  }

  80% {
    transform: scale(0.9) translate(-50%, -50%);
    opacity: 0.4
  }
  100% {
    transform: scale(1.1) translate(-50%, -50%);
    opacity: 0;
  }
}

.product-img {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #ebebeb;
  background-image: linear-gradient(to bottom, #f7f7f7, #f8f8f8 35%, #fdfdfd 58%, #e5e7eb);
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .attribute-icon {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    padding: 3px 7px;
    img {
      top: auto;
      left: auto;
      transform: none;
      width: 26px;
      height: 26px;
      display: block;
      position: static;
    }
  }
}

.add_to_cart_button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: auto;
  line-height: 1;
  padding: 8px 12px;
  margin: 0;
  border-radius: 4px;
  outline: none;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #f48783;

  }

  .icon {
    font-size: 0;
    line-height: 0;
    &:before {
      font-size: 24px;
      line-height: 1;
      font-weight: 700;
      @include breakpoint(screen-mxs) {
        font-size: 20px;
      }
    }
  }

  .button-price {
    font-size: 24px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    @include breakpoint(screen-mxs) {
      font-size: 22px;
    }
    .woocommerce-Price-currencySymbol {
      font-size: 20px;
      line-height: 1;
      @include breakpoint(screen-mxs) {
        font-size: 18px;
      }
    }

    ins,
    del {
      text-decoration: none;
    }
    del {
      .amount {
        font-size: 14px;
        line-height: 1;
        padding: 0 8px;
        margin: 0 15px;
        position: relative;
        display: block;
        @include breakpoint(screen-lg) {
          padding: 0 5px;
          margin: 0 10px;
          font-size: 12px;
        }
        @include breakpoint(screen-xs) {
          margin: 0 5px;
        }
        &:before {
          content: '';
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 0;
          width: 100%;
          height: 1px;
          background: #fff;
        }
        .woocommerce-Price-currencySymbol {
          font-size: 10px;
          line-height: 1.2;
          @include breakpoint(screen-lg) {
            font-size: 8px;
            line-height: 1.4;
          }
        }
      }
    }
  }

  &.loading{
    &:after {
      right: 0;
      transition: right 0.3s;
    }
  }

  &.added {
    &:after {
      right: 0;
    }
  }
}

.added_to_cart {
  display: none !important;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  height: 48px;
  width: 61px;
  padding: 12px 15px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #f48783;
  color: #ffffff;
  font-size: 0;
  text-align: center;
  line-height: 0;
  @include breakpoint(screen-mxs) {
    padding: 13px 15px;
  }

  @extend .icon;
  @extend .icon-cart;
  &:before {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    @include breakpoint(screen-mxs) {
      font-size: 20px;
    }
  }
}

.add-to-cart-on-shop {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 4px 0;

  .quantity {
    width: auto;
    margin-bottom: 5px;
/*    @include breakpoint(screen-lg) {
      width: 140px;
    }
    @include breakpoint(screen-m) {
      width: 120px;
      margin-right: 5px;
    }
    @include breakpoint(screen-ms) {
      width: 160px;
    }
    @include breakpoint(screen-sm) {
      width: calc(100% - 140px);
    }
    @media (max-width: 600px) {
      width: 160px;
    }
    @include breakpoint(screen-xs){
      width: calc(100% - 50px);
    }
    @include breakpoint(mobile-xxs) {
      width: 160px;
    }*/
  }
  .quantity-input {
    display: flex;
    align-items: center;
    width: 100%;
    input {
      height: 30px;
      margin: 0 7px;
      padding: 3px 10px;
      font-size: 20px;
      line-height: 0.85;
      color: #3d3d3d;
    }
  }

  .btn-holder{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .button.alt {
    width: calc( 60% - 2px );
    max-width: 313px;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 10px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn-buy{
      width: calc( 40% - 3px );
      padding: 4px;

      > span{
        display: block;
        width: 100%;
        padding: 4px 5px;

        border-radius: 4px;
        border: 1px solid #fff;
      }
    }

    /*@include breakpoint(screen-lg) {
      font-size: 0;
      width: calc(100% - 150px);
    }

    @include breakpoint(screen-ms) {
      font-size: 0;
      width: 38px
    }
    @include breakpoint(screen-sm) {
      font-size: 14px;
      width: auto;
    }
    @media (max-width: 600px) {
      font-size: 0;
      width: calc(100% - 170px);
    }
    @include breakpoint(screen-xs){
      width: 45px;
    }
    @include breakpoint(mobile-xxs) {
      font-size: 14px;
      width: calc(100% - 170px);
    }*/
  }
  .icon-cart {
   // flex: 1 0 auto;
    margin-right: 11px;;
    height: 19px;

    /*@include breakpoint(screen-lg) {
      margin-right: 0;
    }
    @include breakpoint(screen-m) {
      margin-right: 0;
    }
    @include breakpoint(screen-ms) {
      margin-right: 0;
    }
    @include breakpoint(screen-sm) {
      margin-right: 11px;
    }
    @media (max-width: 600px) {
      margin-right: 0;
    }
    @include breakpoint(mobile-xxs) {
      margin-right: 11px;
    }*/
    &:before {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.2;
    }
  }
}

/*
.columns-4 {
  &.products-list {
    @include breakpoint(screen-lg) {
      width: calc(100% + 20px);
      margin: 0 -10px;
    }
    @include breakpoint(screen-md) {
      width: calc(100% + 10px);
      margin: 0 -5px;
    }
  }
!*  .products-list-item {
    @include breakpoint(screen-lg) {
      width: calc(25% - 20px);
      margin: 0 10px 30px;
    }
    @include breakpoint(screen-md) {
      width: calc(25% - 10px);
      margin: 0 5px 30px;
    }
    @include breakpoint(screen-m) {
      margin: 0 20px 45px;
     // width: calc((100% / 3) - 10px);
    }
    @include breakpoint(screen-ms) {
    //  width: calc(50% - 10px);
    }
    @include breakpoint(screen-sm) {
      width: calc((100% / 3) - 10px);
    }
    @media (max-width: 600px) {
      width: calc(50% - 10px);
      margin: 0 5px 30px;
    }
    @include breakpoint(mobile-xxs) {
      width: 100%;
    }
  }*!
  .add-to-cart-on-shop {
    .quantity {
      width: calc(100% - 50px);
      max-width: 140px;
      margin-right: 5px;
    }
    .button.alt {
      width: 45px;
      max-width: 100px;
      flex: 1 0 auto;
    }
    .icon-cart {
      margin-right: 0;
    }
  }
}
*/

.ajax_add_to_cart {
  padding: 13px 32px;
}
