/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /* padding-top: 50px; */
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

#pictureFounder {
    height: auto;
    width: auto;
    max-height: 600px;
    float: right;
    max-width: 100%;
    vertical-align: text-bottom;
}

#founderContent {
    width: 50% !important;
    overflow: hidden;
    display: inline-block;
    float: left;
}

#founderImageholder {
    overflow: hidden;
    display: inline-block;
    float: right;
    align-self: flex-end !important;
    position: relative;
    width: 25%;
    height: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#strip6_about h2 {
    color: #616161;
    font-size: 48px;
    text-align: left;
    margin-bottom: 50px;
    font-weight: lighter !important;
}

#behindTheTechnologyStrip {
    width: 90%;
}

#strip6_about p {
    text-align: left;
    line-height: 1.3;
    font-size: 18px !important;
    letter-spacing: 1px;
    /* font-family: 'Heebo', sans-serif !important; */
}

.padding-about {
    padding-left: 15%;
    padding-right: 3%;
    margin-bottom: 35px;
}

#founderContentBody {
    height: auto;
}

img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.contboo {
    border-radius: 50%;
}

button.accordion {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

.acdiv {
    left: 20px;
}

.logo-img {
    width: 57%;
}

.scrollon {
    padding-bottom: 8px;
}

.wishlist-test .articlesList article .alImage {
    width: 100%;
    max-width: 100%;
    height: 242px;
    overflow: hidden;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sub-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.text-top {
    z-index: 999;
}

.sub-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .sub-menu {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.watapp img {
    width: 93%;
    margin: 6px 0 0 0;
}

.no-js .rll-youtube-player, .no-js [data-lazy-src] {
    display: none !important;
}

    .yuzo_related_post {
 }

.yuzo_related_post .relatedthumb {
}


    .yuzo_related_post img {
     width: 345px !important;
     height: 240px !important;
 }

.yuzo_related_post .relatedthumb {
    line-height: 15px;
    background: transparent !important;
    color: !important;
}

.yuzo_related_post .relatedthumb:hover {
    background: transparent !important;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    ;
    color: !important;
}

.yuzo_related_post .relatedthumb a {
    color: !important;
}

.yuzo_related_post .relatedthumb a:hover {
    color: !important;
}

.yuzo_related_post .relatedthumb:hover a {
    color: !important;
}

.yuzo_related_post .relatedthumb:hover .yuzo__text--title {
    color: !important;
}

.yuzo_related_post .yuzo_text, .yuzo_related_post .yuzo_views_post {
    color: !important;
}

.yuzo_related_post .relatedthumb:hover .yuzo_text, .yuzo_related_post:hover .yuzo_views_post {
    color: !important;
}

.yuzo_related_post .relatedthumb {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
}

.yuzo_related_post .relatedthumb {
}


    @media only screen and (min-width:1025px) {

.mob_menu, .mob_menu_left_panel, .mob_menu_right_panel, .mobmenu {
    display: none !important;
}
}
@media only screen and (max-width:1025px) {

    .mob-menu-left-panel .mobmenu-left-bt, .mob-menu-right-panel .mobmenu-right-bt {
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 30px;
    }

    .mob-menu-slideout .mob-cancel-button {
        display: none;
    }

    .mobmenu, .mob-menu-left-panel, .mob-menu-right-panel {
        display: block;
    }

    .mobmenur-container i {
        color: #222;
    }

    .mobmenul-container i {
        color: #222;
    }

    .mobmenul-container img {
        max-height: 40px;
        float: left;
    }

    .mobmenur-container img {
        max-height: 40px;
        float: right;
    }

    #mobmenuleft li a, #mobmenuleft li a:visited {
        color: #222;
    }

    .mobmenu_content h2, .mobmenu_content h3, .show-nav-left .mob-menu-copyright, .show-nav-left .mob-expand-submenu i {
        color: #222;
    }

    .mobmenu_content #mobmenuleft > li > a:hover {
        background-color: #a3d3e8;
    }

    .mobmenu_content #mobmenuright > li > a:hover {
        background-color: #a3d3e8;
    }

    .mobmenu_content #mobmenuleft .sub-menu {
        background-color: #eff1f1;
        margin: 0;
        color: #222;
        width: 100%;
        position: initial;
    }
    .mobmenu_content #mobmenuleft .sub-menu li:hover {
        background-color: #eff1f1;
    }
    .mobmenu_content #mobmenuleft .sub-menu li:hover a {
        color: #222;
    }
    .mobmenu_content #mobmenuright .sub-menu li:hover {
        background-color: #eff1f1;
    }
    .mobmenu_content #mobmenuright .sub-menu li:hover a {
        color: #222;
    }

    .mob-cancel-button {
        font-size: 30px !important;
    }

    .mob-menu-left-panel .mob-cancel-button {
        color: #000;
    }

    .mob-menu-right-panel .mob-cancel-button {
        color: #000;
    }

    .mob-menu-slideout-over .mobmenu_content {
        padding-top: 40px;
    }

    .mob-menu-left-bg-holder {
        opacity: 1;
        background-attachment: fixed;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .mob-menu-right-bg-holder {
        opacity: 1;
        background-attachment: fixed;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .mobmenu_content #mobmenuleft .sub-menu a {
        color: #222;
    }

    .mobmenu_content #mobmenuright .sub-menu a {
        color: #222;
    }

    .mobmenu_content #mobmenuright .sub-menu .sub-menu {
        background-color: inherit;
    }

    .mobmenu_content #mobmenuright .sub-menu {
        background-color: #eff1f1;
        margin: 0;
        color: #222;
        position: initial;
        width: 100%;
    }

    #mobmenuleft li a:hover {
        color: #fff;
    }

    #mobmenuright li a, #mobmenuright li a:visited, .show-nav-right .mob-menu-copyright, .show-nav-right .mob-expand-submenu i {
        color: #222;
    }

    #mobmenuright li a:hover {
        color: #fff;
    }

    .mobmenul-container {
        top: 5px;
        margin-left: 5px;
    }

    .mobmenur-container {
        top: 5px;
        margin-right: 5px;
    }
    .mobmenu .sub-menu li a {
        padding-left: 50px;
    }
    .mobmenu .sub-menu .sub-menu li a {
        padding-left: 75px;
    }
    .mobmenu_content #mobmenuleft .sub-menu .sub-menu li a {
        color: #222;
    }
    .mobmenu_content #mobmenuleft .sub-menu .sub-menu li a:hover {
        color: #222;
    }
    .mobmenu_content #mobmenuleft .sub-menu .sub-menu li {
        background-color: #eff1f1;
    }
    .mobmenu_content #mobmenuleft .sub-menu .sub-menu li:hover {
        background-color: #eff1f1;
    }
    .mobmenu_content #mobmenuright .sub-menu .sub-menu li a {
        color: #222;
    }
    .mobmenu_content #mobmenuright .sub-menu .sub-menu li {
        background-color: #eff1f1;
    }
    .mobmenu_content #mobmenuright .sub-menu .sub-menu li:hover {
        background-color: #eff1f1;
    }
    .mobmenu_content #mobmenuright .sub-menu .sub-menu li a:hover {
        color: #222;
    }


    .mob-menu-logo-holder {
        padding-top: 0px;
        text-align: center;
        ;
        ;
    }

    .mob-menu-header-holder {
        background-color: #fbfbfb;
        height: 40px;
        width: 100%;
        font-weight: bold;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 99998;
        color: #000;
        display: block;
    }

    .mobmenu-push-wrap, body.mob-menu-slideout-over {
        padding-top: 40px;
    }

    .mob-menu-slideout .mob-menu-left-panel {
        background-color: #f9f9f9;
        ;
        width: 270px;
        -webkit-transform: translateX(-270px);
        -moz-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
    }

    .mob-menu-slideout .mob-menu-right-panel {
        background-color: #f9f9f9;
        width: 270px;
        -webkit-transform: translateX( 270px );
        -moz-transform: translateX( 270px );
        -ms-transform: translateX( 270px );
        -o-transform: translateX( 270px );
        transform: translateX( 270px );
    }
    .mob-menu-slideout.show-nav-left .mobmenu-push-wrap, .mob-menu-slideout.show-nav-left .mob-menu-header-holder {
        -webkit-transform: translate(270px, 0);
        -moz-transform: translate(270px, 0);
        -ms-transform: translate(270px, 0);
        -o-transform: translate(270px, 0);
        transform: translate(270px, 0);
        -webkit-transform: translate3d(270px, 0, 0);
        -moz-transform: translate3d(270px, 0, 0);
        -ms-transform: translate3d(270px, 0, 0);
        -o-transform: translate3d(270px, 0, 0);
        transform: translate3d(270px, 0, 0);
    }

    .mob-menu-slideout.show-nav-right .mobmenu-push-wrap, .mob-menu-slideout.show-nav-right .mob-menu-header-holder {
        -webkit-transform: translate(-270px, 0);
        -moz-transform: translate(-270px, 0);
        -ms-transform: translate(-270px, 0);
        -o-transform: translate(-270px, 0);
        transform: translate(-270px, 0);
        -webkit-transform: translate3d(-270px, 0, 0);
        -moz-transform: translate3d(-270px, 0, 0);
        -ms-transform: translate3d(-270px, 0, 0);
        -o-transform: translate3d(-270px, 0, 0);
        transform: translate3d(-270px, 0, 0);
    }
    .mobmenu-overlay {
        opacity: 0;
    }

    .mob-menu-slideout-top .mobmenu-overlay, .mob-menu-slideout .mob-menu-right-panel .mob-cancel-button, .mob-menu-slideout .mob-menu-left-panel .mob-cancel-button {
        display: none !important;
    }

    .show-nav-left .mobmenu-overlay, .show-nav-right .mobmenu-overlay {
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.78);
        z-index: 99999;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        -webkit-transition: .5s ease;
        -moz-transition: .5s ease;
        -ms-transition: .5s ease;
        -o-transition: .5s ease;
        transition: .5s ease;
        position: fixed;
        cursor: pointer;
    }

    .mob-menu-slideout-over .mob-menu-left-panel {
        display: block !important;
        background-color: #f9f9f9;
        ;
        width: 270px;
        -webkit-transform: translateX(-270px);
        -moz-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .mob-menu-slideout-over .mob-menu-right-panel {
        display: block !important;
        background-color: #f9f9f9;
        ;
        width: 270px;
        -webkit-transform: translateX(270px);
        -moz-transform: translateX(270px);
        -ms-transform: translateX(270px);
        -o-transform: translateX(270px);
        transform: translateX(270px);
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .mob-menu-slideout-over.show-nav-left .mob-menu-left-panel {
        display: block !important;
        background-color: #f9f9f9;
        ;
        width: 270px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .show-nav-right.mob-menu-slideout-over .mob-menu-right-panel {
        display: block !important;
        background-color: #f9f9f9;
        width: 270px;
        -webkit-transform: translateX( 0 );
        -moz-transform: translateX( 0 );
        -ms-transform: translateX( 0 );
        -o-transform: translateX(0 );
        transform: translateX( 0 );
    }
    .mob-menu-slideout .mob-menu-left-panel, .mob-menu-slideout-over .mob-menu-left-panel {
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 300000;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 1;
    }


    .mob-menu-slideout .mob-menu-right-panel, .mob-menu-slideout-over .mob-menu-right-panel {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 300000;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 1;
    }

    .mobmenu .headertext {
        color: #222;
    }

    .headertext span {
        position: initial;
        line-height: 40px;
    }
    .mob-menu-slideout .mobmenu-push-wrap, .mob-menu-slideout .mob-menu-header-holder {
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    html, body {
        overflow-x: hidden;
    }

    .hidden-overflow {
        overflow: hidden !important;
    }
    .mob-menu-slideout .mob-menu-left-panel {
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 300000;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 1;
        -webkit-transition: -webkit-transform .5s;
        -moz-transition: -moz-transform .5s;
        -ms-transition: -ms-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
    }

    .mob-menu-slideout.show-nav-left .mob-menu-left-panel {
        transition: transform .5s;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    body.admin-bar .mobmenu {
        top: 32px;
    }

    @media screen and ( max-width: 782px ) {
    body.admin-bar .mobmenu {
        top: 46px;
    }
}

.mob-menu-slideout .mob-menu-right-panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 300000;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

.mob-menu-slideout.show-nav-right .mob-menu-right-panel {
    transition: transform .5s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

.show-nav-left .mobmenu-push-wrap {
    height: 100%;
}
.mob-menu-slideout.show-nav-left .mobmenu-push-wrap, .show-nav-left .mob-menu-header-holder {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

.show-nav-right .mobmenu-push-wrap {
    height: 100%;
}
.mob-menu-slideout.show-nav-right .mobmenu-push-wrap, .mob-menu-slideout.show-nav-right .mob-menu-header-holder {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -ms-transition: -ms-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
}

.widget img {
    max-width: 100%;
}

#mobmenuleft, #mobmenuright {
    margin: 0;
    padding: 0;
}

#mobmenuleft li > ul {
    display: none;
    left: 15px;
}

.mob-expand-submenu {
    position: relative;
    right: 0px;
    float: right;
    margin-top: -50px;
}

.mob-expand-submenu i {
    padding: 12px;
}

#mobmenuright li > ul {
    display: none;
    left: 15px;
}

.rightmbottom, .rightmtop {
    padding-left: 10px;
    padding-right: 10px;
}

.mobmenu_content {
    z-index: 1;
    height: 100%;
    overflow: auto;
}

.mobmenu_content li a {
    display: block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
}

.mobmenu_content li {
    list-style: none;
}

.mob-menu-left-panel li, .leftmbottom, .leftmtop {
    padding-left: 0%;
    padding-right: 0%;
}

.mob-menu-right-panel li, .rightmbottom, .rightmtop {
    padding-left: 0%;
    padding-right: 0%;
}

.mob-menu-slideout .mob_menu_left_panel_anim {
    -webkit-transition: all .30s ease-in-out !important;
    transition: all .30s ease-in-out !important;
    transform: translate(0px) !important;
    -ms-transform: translate(0px) !important;
    -webkit-transform: translate(0px) !important;
}

.mob-menu-slideout .mob_menu_right_panel_anim {
    -webkit-transition: all .30s ease-in-out !important;
    transition: all .30s ease-in-out !important;
    transform: translate(0px) !important;
    -ms-transform: translate(0px) !important;
    -webkit-transform: translate(0px) !important;
}

.mobmenul-container {
    position: absolute;
}

.mobmenur-container {
    position: absolute;
    right: 0px;
}

.mob-menu-slideout .mob_menu_left_panel {
    width: 230px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    transform: translate(-230px);
    -ms-transform: translate(-230px);
    -webkit-transform: translate(-230px);
    transition: all .30s ease-in-out !important;
    -webkit-transition: all .30s ease-in-out !important;
    overflow: hidden;
}

.leftmbottom h2 {
    font-weight: bold;
    background-color: transparent;
    color: inherit;
}

.show-nav-right .mobmenur-container img, .show-nav-left .mobmenul-container img, .mobmenu .mob-cancel-button, .show-nav-left .mobmenu .mob-menu-icon, .show-nav-right .mobmenu .mob-menu-icon, .mob-menu-slideout-over.show-nav-left .mobmenur-container, .mob-menu-slideout-over.show-nav-right .mobmenul-container {
    display: none;
}

.show-nav-left .mobmenu .mob-cancel-button, .mobmenu .mob-menu-icon, .show-nav-right .mobmenu .mob-cancel-button {
    display: block;
}

.mobmenul-container i {
    line-height: 30px;
    font-size: 30px;
    float: left;
}

.left-menu-icon-text {
    float: left;
    line-height: 30px;
    color: #222;
}

.right-menu-icon-text {
    float: right;
    line-height: 30px;
    color: #222;
}

.mobmenur-container i {
    line-height: 30px;
    font-size: 30px;
    float: right;
}

.mobmenu_content .widget {
    padding-bottom: 0px;
    padding: 20px;
}

.mobmenu input[type="text"]:focus, .mobmenu input[type="email"]:focus, .mobmenu textarea:focus, .mobmenu input[type="tel"]:focus, .mobmenu input[type="number"]:focus {
    border-color: rgba(0, 0, 0, 0) !important;
}

.mob-expand-submenu i {
    padding: 12px;
    top: 10px;
    position: relative;
    font-weight: 600;
    cursor: pointer;
    font-size: 30px;
}

.nav, .main-navigation, .genesis-nav-menu, #main-header, #et-top-navigation, .site-header, .site-branding, .ast-mobile-menu-buttons, .hide {
    display: none !important;
}

.mob-menu-left-bg-holder, .mob-menu-right-bg-holder {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.mobmenu_content .sub-menu {
    display: none;
}

.mob-standard-logo {
    display: inline-block;
    height: 40px !important;
}
}

.mob-standard-logo {
    display: inline-block;
}

.mobmenu-push-wrap {
    height: 100%;
}

.no-menu-assigned {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 20px;
    position: absolute;
}


    * {
     padding: 0;
     margin: 0;
 }

.activessb {
    position: fixed;
    bottom: 516px !important;
    left: 0px;
}

.negativewhite {
    background-color: #fff;
    color: #000;
}

.acdiv {
    width: 51px;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999999999;
    border: 0px solid #000;
    float: left;
}
.contiwc {
    width: 100px;
    height: 100%;
    background: #444;
}

.contboo {
    width: 50px;
    height: auto;
    padding: 0 0 9px 0;
    background: #b-left;
    text-align: center;
}
.contboo img {
    margin: 10px 0 0 0;
    width: 50%;
    height: 30px;
}

.accordion {
    padding: 0 !important;
}

button.accordion {
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.acdiv ul {
    list-style-type: none;
    margin: 0;
}

.acdiv ul li {
    display: block;
}

.acdiv ul li a {
    width: 100%;
    font-size: 9px !important;
    display: block;
    height: 65px;
    text-align: center;
    border: 0px solid #000;
    background-color: #FFFFFF;
    padding: 7px;
    margin: 0px 0 0 0;
}
.acdiv ul li a img {
    width: 100%;
}

.acdiv span {
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    width: 100%;
}

.acdiv p {
    background-color: #FFFFFF;
    text-align: center;
    display: block;
    font-size: 8px;
    margin: 0;
    width: 100%;
}

<style type="text/css">
    .fb_hidden {
                          position: absolute;
                          top: -10000px;
                          z-index: 10001
                      }

.fb_reposition {
    overflow: hidden;
    position: relative
}

.fb_invisible {
    display: none
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset > div {
    overflow: hidden
}

@keyframes fb_transform {
    from {
        opacity: 0;
        transform: scale(.95)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fb_animate {
    animation: fb_transform .3s forwards
}

.fb_dialog {
    background: rgba(82, 82, 82, .7);
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_dialog_advanced {
    border-radius: 8px;
    padding: 10px
}

.fb_dialog_content {
    background: #fff;
    color: #373737
}

.fb_dialog_close_icon {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
    left: 5px;
    right: auto;
    top: 5px
}

.fb_dialog_padding {
    background-color: transparent;
    position: absolute;
    width: 1px;
    z-index: -1
}

.fb_dialog_close_icon:hover {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
}

.fb_dialog_close_icon:active {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe {
    line-height: 0
}

.fb_dialog_content .dialog_title {
    background: #6d84b4;
    border: 1px solid #365899;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

.fb_dialog_content .dialog_title > span {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px
}

body.fb_hidden {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    transform: none;
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
    background: none;
    height: auto;
    min-height: initial;
    min-width: initial;
    width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
    background: none
}

.loading.centered #fb_dialog_loader_close {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
    display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
    visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe {
    position: sticky;
    top: 0
}

.fb_dialog_content .dialog_header {
    background: linear-gradient(from(#738aba), to(#2c4987));
    border-bottom: 1px solid;
    border-color: #043b87;
    box-shadow: white 0 1px 1px -1px inset;
    color: #fff;
    font: bold 14px Helvetica, sans-serif;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap
}

.fb_dialog_content .dialog_header table {
    height: 43px;
    width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
    font-size: 12px;
    padding-right: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .touchable_button {
    background: linear-gradient(from(#4267B2), to(#2a4887));
    background-clip: padding-box;
    border: 1px solid #29487d;
    border-radius: 3px;
    display: inline-block;
    line-height: 18px;
    margin-top: 3px;
    max-width: 85px;
    padding: 4px 12px;
    position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
    background: none;
    border: none;
    color: #fff;
    font: bold 12px Helvetica, sans-serif;
    margin: 2px -12px;
    padding: 2px 6px 3px 6px;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle
}

.fb_dialog_content .dialog_content {
    background: url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #4a4a4a;
    border-bottom: 0;
    border-top: 0;
    height: 150px
}

.fb_dialog_content .dialog_footer {
    background: #f5f6f7;
    border: 1px solid #4a4a4a;
    border-top-color: #ccc;
    height: 40px
}

#fb_dialog_loader_close {
    float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
    visibility: hidden
}

#fb_dialog_loader_spinner {
    animation: rotateSpinner 1.2s linear infinite;
    background-color: transparent;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.fb_iframe_widget {
    display: inline-block;
    position: relative
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify
}

.fb_iframe_widget iframe {
    position: absolute
}

.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
    min-width: 220px;
    position: relative
}

.fb_iframe_widget_lift {
    z-index: 1
}

.fb_iframe_widget_fluid {
    display: inline
}

.fb_iframe_widget_fluid span {
    width: 100%
}

.fb_customer_chat_bounce_in_v2 {
    animation-duration: 300ms;
    animation-name: fb_bounce_in_v2;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_v2 {
    animation-duration: 300ms;
    animation-name: fb_bounce_out_v2;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_in_v2_mobile_chat_started {
    animation-duration: 300ms;
    animation-name: fb_bounce_in_v2_mobile_chat_started;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_v2_mobile_chat_started {
    animation-duration: 300ms;
    animation-name: fb_bounce_out_v2_mobile_chat_started;
    transition-timing-function: ease-in
}

.fb_customer_chat_bubble_pop_in {
    animation-duration: 250ms;
    animation-name: fb_customer_chat_bubble_bounce_in_animation
}

.fb_customer_chat_bubble_animated_no_badge {
    box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
    transition: box-shadow 150ms linear
}

.fb_customer_chat_bubble_animated_no_badge:hover {
    box-shadow: 0 5px 24px rgba(0, 0, 0, .3)
}

.fb_customer_chat_bubble_animated_with_badge {
    box-shadow: -5px 4px 14px rgba(0, 0, 0, .15);
    transition: box-shadow 150ms linear
}

.fb_customer_chat_bubble_animated_with_badge:hover {
    box-shadow: -5px 8px 24px rgba(0, 0, 0, .2)
}

.fb_invisible_flow {
    display: inherit;
    height: 0;
    overflow-x: hidden;
    width: 0
}

.fb_mobile_overlay_active {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: fixed;
    visibility: hidden;
    width: 100%
}

@keyframes fb_bounce_in_v2 {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }

    50% {
        transform: scale(1.03, 1.03);
        transform-origin: bottom right
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_in_v2_mobile_chat_started {
    0% {
        opacity: 0;
        top: 20px
    }

    100% {
        opacity: 1;
        top: 0
    }
}

@keyframes fb_bounce_out_v2 {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }

    100% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_out_v2_mobile_chat_started {
    0% {
        opacity: 1;
        top: 0
    }

    100% {
        opacity: 0;
        top: 20px
    }
}

@keyframes fb_customer_chat_bubble_bounce_in_animation {
    0% {
        bottom: 6pt;
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: center
    }

    70% {
        bottom: 18pt;
        opacity: 1;
        transform: scale(1.2, 1.2)
    }

    100% {
        transform: scale(1, 1)
    }
}


<style type="text/css">
    .ba-container {
                          margin-left: auto;
                          margin-right: auto;
                      }

.ba-container + div.balinks {
    margin: 0 auto;
}

.ba-container div img {
    max-width: none;
}

<style type="text/css">
    #google_language_translator a {
                          display: none !important;
                      }

.goog-te-gadget {
    color: transparent !important;
}

.goog-te-gadget {
    font-size: 0px !important;
}

.goog-branding {
    display: none;
}

.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

#google_language_translator {
    display: none;
}

#google_language_translator select.goog-te-combo {
    color: #32373c;
}

#flags {
    display: none;
}

.goog-te-banner-frame {
    visibility: hidden !important;
}

body {
    top: 0px !important;
}

#glt-translate-trigger {
    left: 50%;
    margin-left: -63px;
    right: auto;
}

#glt-translate-trigger > span {
    color: #ffffff;
}

#glt-translate-trigger {
    background: #18b3e1;
}

.goog-te-gadget .goog-te-combo {
    width: 100%;
}

<style>
                            .wpcp-carousel-section.sp-wpcp-4712 .wpcp-single-item {
     border: 0px solid;
 }

.wpcp-carousel-section.sp-wpcp-4712 .slick-prev,
.wpcp-carousel-section.sp-wpcp-4712 .slick-next,
.wpcp-carousel-section.sp-wpcp-4712 .slick-prev:hover,
.wpcp-carousel-section.sp-wpcp-4712 .slick-next:hover {
    background: none;
    border: none;
    font-size: 30px;
}

.wpcp-carousel-section.sp-wpcp-4712 .slick-prev i,
.wpcp-carousel-section.sp-wpcp-4712 .slick-next i {
    color:;
}

.wpcp-carousel-section.sp-wpcp-4712 .slick-prev i:hover,
.wpcp-carousel-section.sp-wpcp-4712 .slick-next i:hover {
    color: #18AFB9;
}

.wpcp-carousel-section.sp-wpcp-4712 ul.slick-dots li button {
    background-color:;
}

.wpcp-carousel-section.sp-wpcp-4712 ul.slick-dots li.slick-active button {
    background-color: #18AFB9;
}

@media screen and (max-width: 479px) {
    .wpcp-carousel-section.nav-vertical-center {
        padding: 0;
    }
}
</style>
